@using EcommerceCore.Domain.Enums
@using EcommerceCore.Websites.Areas.Admin.Controllers
@using EcommerceCore.Websites.Areas.Admin.Models.ViewModels

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Quản lý Supplier</h3>
            </div>
            <div class="panel-heading">
                <a href="@Url.Action("Export" ,"Categories")" class="btn btn-primary">Export</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tblCategory" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Stt</th>
                            <th>Nhà sản xuất </th>
                            <th>CodeName</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Fax</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (ViewBag.Suppliers != null)
                            {
                                var index = 0;
                                foreach (var item in ViewBag.Suppliers as List<SupplierViewModel>)
                                {
                                    index++;
                                    <tr>
                                        <td>@index</td>
                                        <td>@string.Format("{0}", item.Name.Length > 40 ? item.Name.Substring(0, 40) + "..." : item.Name)</td>
                                        <td>@string.Format("{0}", item.CodeName.Length > 60 ? item.CodeName.Substring(0, 60) + "..." : item.CodeName)</td>
                                        <td>@string.Format("{0}", item.Email.Length > 60 ? item.Email.Substring(0, 60) + "..." : item.Email)</td>
                                        <td>@string.Format("{0}", item.Phone.Length > 60 ? item.Phone.Substring(0, 60) + "..." : item.Phone)</td>
                                        <td>@string.Format("{0}", item.Fax.Length > 60 ? item.Fax.Substring(0, 60) + "..." : item.Fax)</td>

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
    <!-- /.col -->
</div>

<!-- MODAL -->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:25%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Xóa</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn hệ thống xóa danh mục này và toàn bộ danh mục con?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="categoryController.deleteCategory()">Xóa</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- end Modal -->

@section Scripts
{

    <script type="text/javascript">

    </script>
}
