@using EcommerceCore.Domain.Enums
@using EcommerceCore.Websites.Areas.Admin.Controllers
@using EcommerceCore.Websites.Areas.Admin.Models.ViewModels

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Quản lý Category</h3>
            </div>
            <div class="panel-heading">
                @*<a href="@Url.Action("CreateOrEdit" ,"Categories")" class="btn btn-primary">Thêm mới</a>*@

                <button class="btn btn-primary waves-effect waves-light" onclick="categoryController.currentCategory=null;categoryController.showFormAddNew()">Thêm <i class="fa fa-plus"></i></button>
                <button name="add-new" class="tiny-button" style="display:none;" data-toggle="modal" data-target="#con-close-modal">&nbsp; <i class="fa fa-plus"></i></button>

                <a href="@Url.Action("Export" ,"Categories")" class="btn btn-primary">Export</a>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="tblCategory" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Stt</th>
                    <th>Tên danh mục </th>
                    <th>Mô tả</th>
                    <th>Trạng thái</th>
                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (ViewBag.Categories != null)
                    {
                        var index = 0;
                        foreach (var item in ViewBag.Categories as List<CategoryViewModel>)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@string.Format("{0}", item.Name.Length > 40 ? item.Name.Substring(0, 40) + "..." : item.Name)</td>
                                <td>@string.Format("{0}", item.Description.Length > 60 ? item.Description.Substring(0, 60) + "..." : item.Description)</td>
                                <td>
                                    @if (item.Status == CommonStatus.Active)
                                    {
                                        <button class="btn btn-success waves-effect waves-light btn-sm m-b-5">Hiển thị</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger waves-effect waves-light btn-sm m-b-5">Ẩn</button>
                                    }
                                </td>
                                <td class="actions">
                                    <a onclick="categoryController.currentCategory='@item.Id'; categoryController.showFormAddNew();" class="on-default font-size-18"><i class="fa fa-pencil"></i></a>
                                    <a onclick="categoryController.currentCategory='@item.Id';" data-toggle="modal" data-target="#delete-modal"  class="on-default remove-row font-size-18"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- MODAL -->
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:25%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="custom-width-modalLabel">Xóa</h4>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn hệ thống xóa danh mục này và toàn bộ danh mục con?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="categoryController.deleteCategory()">Xóa</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- end Modal -->

<script src="~/assets/js/controller/categoryController.js"></script>
@section Scripts
{

    <script type="text/javascript">

    </script>
}
