@using EcommerceCore.Domain.Enums
@using EcommerceCore.Services.Infrastructure.Dto

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewBag.totalProduct</h3>

                    <p>Sản phẩm</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">Thông tin thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@ViewBag.totalCategory<sup style="font-size: 20px">%</sup></h3>

                    <p>Category</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">Thông tin thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@ViewBag.totalCoupon</h3>

                    <p>Mã giảm giá</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">Thông tin thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.totalOrder</h3>

                    <p>Hoá đơn</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">Thông tin thêm <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh mục sản phẩm</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Tên sản phẩm</th>
                                <th>Nhà cung cấp</th>
                                <th>Giá bán</th>
                                <th>Ngày bán</th>
                                <th>Lượt xem</th>
                                <th>Trạng Thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewBag.Products != null)
                                {
                                    var index = 0;
                                    foreach (var item in ViewBag.Products as List<ProductDto>)
                                    {
                                        index++;
                                        <tr>
                                            <td>@index</td>
                                            <td>@string.Format("{0}", item.Name.Length > 40 ? item.Name.Substring(0, 40) + "..." : item.Name)</td>
                                            <td>@string.Format("{0}", item.SupplierName.Length > 40 ? item.SupplierName.Substring(0, 40) + "..." : item.SupplierName)</td>
                                            <td><span class="label label-success">@item.Price</span></td>
                                            <td><span class="label label-primary">@item.PublicationDate</span></td>
                                            <td><span class="label label-primary">@item.View</span></td>
                                            <td>
                                                @if (item.Status == CommonStatus.Active)
                                                {
                                                    <button class="btn btn-success waves-effect waves-light btn-sm m-b-5">Hiển thị</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-danger waves-effect waves-light btn-sm m-b-5">Ẩn</button>
                                                }
                                            </td>

                                        </tr>
                                    }
                                }
                            }
                        </tbody>                       
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
</section>

