@model EcommerceCore.Websites.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Thay đổi cài đặt tài khoản của bạn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mật khẩu:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Thêm mới", "SetPassword")
            }
            ]
        </dd>
        <dt>Đăng nhập bằng hình thức khác:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Quản lý", "ManageLogins") ]
        </dd>
        
            <dt>Số điện thoại:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Thay đổi", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;]@Html.ActionLink("Thêm số điện thoại", "AddPhoneNumber")</text>
                }
            </dd>
        
        <dt>Xác thực hai yếu tố:</dt>
        <dd>
            
            @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
        </dd>
    </dl>
</div>
