@model IEnumerable<EcommerceCore.Services.Infrastructure.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.View)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keyword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Width)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </th>

        @*<th>
                @Html.DisplayNameFor(model => model.ProductStatusName)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.View)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keyword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.ProductStatusName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
